body{
    margin:auto;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    border: none;
    background-color: transparent;
    border-radius: 50px;
    font-size: 25px;
    margin: auto;
    display: block;
    margin-top: 20px;
}
#main{
    margin: auto;
    display: block;
    padding: 120px;
    background-color: #00bbff;
    height: 60px;
}
#card{
    margin: auto;
    display: block;
    background-color: white;
    box-shadow: 0px 0px 3px 0px;
    padding: 30px;
    margin-top: -250px;
    height: 450px;
    width: 320px;
    border-radius: 15px;
}
#next{
    position: relative;
    top: 5px;
    background-color: #00bbff;
    color: white;
    border: none;
    padding: 8px;
    left: 98px;
    border-radius: 5px;
    font-size: 15px;
    margin: auto;
    display: block;
}
#next:hover{
    cursor: pointer;
    background-color:#0386b5;
    transition: 0.1s linear;
}
h3{
    text-align: center;
    color: #00bbff;
    font-size: 30px;
    top: -50px;
    position: relative;
}
h4{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: auto;
    margin-top: -75px;
}
input{
    margin: auto;
    display: block;
    margin-top: 14px;
    padding: 10px;
    width: 250px;
    border: 1px solid gainsboro;
    border-radius: 4px;
}
footer{
    text-align: center;
}
 p{
  margin-top: -5px;
  margin-left: 35px;
  color: #0386b5;
}
h5{
    text-align: center;
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -5px;
    position: relative;
    top: 15px;
}