*{
    top: 0;
    left: 0;
}
body{
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 30px;
    background-color: white;
    margin: auto;
    width: 1600px;
    position: fixed;
    height: 50px;
}
header > span{
    margin-top: 5px;
}
#icon{
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    margin: auto;
    top: -15px;
    position: relative;
    left: -850px;
}
.icon{
    width: 60px;
    height: 60px;
    margin: auto;
}
.farmacia{
    color: #00bbff;
    text-align: center;
    top: 50px;
    left: 80px;
    position: absolute;
}
select{
    background-color: white;
    color: #00bbff;
    border: none;
    top:-55px;
    left: -650px;
    font-size: 18px;
    position: relative;
}
main{
    color: white;
    background-color: #00bbff;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
}
main > img{
    width: 190px;
    height: 190px;
    margin-left: 250px;
    margin-top: -90px;
    margin-bottom: 30px;
}
h1 > span{
    color: wheat;
    top: 0px;
    left: -3px;
}
h1{
    text-align: left;
    justify-content: left;
    left: 10px;
    color:#0386b5
}
main > p{
    text-align: left;
    position: relative;
    text-indent: 6px;
    color: white;
}
#main{
    top: 625px;
    margin: auto;
    display: block;
    padding: 30px;
}
#acess{
    border: none;
    padding: 10px;
    border-radius: 100%;
    font-size: 25px;
    background-color: transparent;
}
.acess{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}
#on{
    border: none;
    padding: 10px;
    border-radius: 90px;
    font-size: 25px;
    background-color: transparent;
}
.on{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}
p{
    font-weight: 200;
    text-align: center;
}
h3{
    color: #00bbff;
}
footer{
    background-color: black;
    top: 1100px;
    margin: auto;
    padding: 30px;
    height: 300px;
}
#img1{
    left: 10px;
    width: 60px;
    height: 60px;
}
#img2{
    left: -120px;
    width: 60px;
    height: 60px;
}
#img3{
    left: -320px;
    width: 60px;
    height: 60px;
}
#img4{
    left: -315px;
    width: 60px;
    height: 60px;
}
footer > h1{
    color: #00bbff;
    text-align: center;
    left: -180px;
}
a{
    color: #00bbff;
    display: block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin: auto;
}
footer > p{
    color: white;
    top: 80px;
    left: -180px;
    text-align: center;
    margin: auto;
}
.span{
    text-align: center;
    color:white;
}